<footer class="footer row bg-black bg-gradient mt-auto w-100 m-0">
  {{!-- <div class = "footer row row-cols-md-5 w-100 py-2"> --}}
      <div class="col mb-3">
        <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        </a>
        <p class="text-light text-end">&copy; 2022</p>
      </div>
  
      <div class="col mb-3">
        
      </div>
  
      <div class="col mb-3">
        <h5 class = text-light>Developed By</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">TheoSkyBlue</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Mark</a></li>
          

        </ul>
      </div>
  
      <div class="col mb-3">
        <h5 class = text-light>Emails:</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">totallyTeoSkyBluesEmail@gmail.com</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">verymuchMarksEmail@hotmail.com</a></li>
          

        </ul>
      </div>
  
      <div class="col mb-3">
        <h5 class = text-light>More info</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="/about" class="nav-link p-0 text-light">Announcements</a></li>
          <li class="nav-item mb-2"><a href="/announcements" class="nav-link p-0 text-light">About us</a></li>
          

        </ul>
      </div>
    {{!-- </div> --}}
</footer>