<footer class="w-auto footer row row-cols-md-5 py-2 bg-black bg-gradient mt-auto ">
      <div class="col mb-3">
        <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        </a>
        <p class="text-light text-end">&copy; 2022</p>
      </div>
  
      <div class="col mb-3">
        
      </div>
  
      <div class="col mb-3">
        <h5 class = text-light>Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Footer item</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Footer item</a></li>
          

        </ul>
      </div>
  
      <div class="col mb-3">
        <h5 class = text-light>Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Footer item</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Footer item</a></li>
          

        </ul>
      </div>
  
      <div class="col mb-3">
        <h5 class = text-light>Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Footer item</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Footer item</a></li>
          

        </ul>
      </div>
</footer>