
<header class="row w-100 p-0 m-0 justify-content-center sticky-top bg-light rounded-bottom">
      {{!-- <div class="row justify-content-center sticky-top rounded-lg w-auto"> --}}
          <ul class="menu nav nav-pills header-bg py-2 px-2 column-gap-2 justify-content-center shadow-lg d-none d-lg-inline-flex"  id = "header-container">
            <li class="nav-item m-0" ><a class="nav-link  m-auto py-1" aria-current="page" href = '/'>
            <img src = "logo_circle.png" class = "logo py-0" alt = "Logo"/></a></li>
            <li class="nav-item "><a class="nav-link link-dark shadow-lg" href = '/exhibition'>EXHIBITIONS</a></li>
            <div class="header-item-divider py-3"></div>
            <li class="nav-item"><a class="nav-link link-dark shadow-lg" href = '/collection'>COLLECTION</a></li>
            <div class="header-item-divider py-3"></div>
            <li class="nav-item"><a class="nav-link link-dark shadow-lg" href = '/announcements'>ANNOUNCEMENTS</a></li>
            <div class="header-item-divider py-3"></div>
            <li class="nav-item"><a class="nav-link link-dark shadow-lg" href="/about">ABOUT</a></li>
              {{#if session_username}}
              <div title="Welcome back, {{session_username}}" class="login d-flex mx-2 align-items-center justify-content-center">☑ 
                <div class="text-muted d-flex align-items-center justify-content-center">{{session_username}}</div>
                <a type = 'button' class = "text-muted d-flex align-items-center justify-content-center" href = '/logout'>❌</a>
              </div>
              {{/if}}
            
          </ul>

          <nav class="navbar navbar-expand-lg navbar-light bg-light bg-gradient w-100 d-lg-none d-xl-none">
            <button class="navbar-toggler mx-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            {{#if username}}
            <div title="Welcome back, {{username}}" class="login d-flex mx-2 justify-content-center">☑{{username}}</div>
            {{/if}}
            <div class="nav-item mx-2 p-2"><a class="nav-link  m-auto py-1" aria-current="page" href = '/'>
                  <img src = "logo_circle.png" class = "logo py-0" alt = "Logo"/></a>
            </div>

            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item d-flex"><a class="nav-link link-dark shadow-lg rounded p-2 m-1" href = '/exhibition'>EXHIBITIONS </a></li>
                <li class="nav-item d-flex"><a class="nav-link link-dark shadow-lg rounded p-2 m-1" href = '/collection'>COLLECTION</a></li>
                <li class="nav-item d-flex"><a class="nav-link link-dark shadow-lg rounded p-2 m-1" href = '/announcements'>ANNOUNCEMENTS</a></li>
                <li class="nav-item d-flex"><a class="nav-link link-dark shadow-lg rounded p-2 m-1" href="/about">ABOUT</a></li>
              </ul>
            </div>


          </nav>
</header>