html, body{
    height: 100%;
    margin: none;
    scroll-behavior: smooth;
    
   
}

body{
    background-image: url("images/background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
}

a:link{
    color: black;
    text-decoration: none;
}

a:hover{
    color: blue;
    text-decoration: underline;
}


.image{
    overflow: hidden;
}

.image img{
    transition: transform .3s;
}

.image:hover img{
    transform: scale(1.2);
}

.border{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    margin: 50px;
    box-shadow: 5px 5px 10px;
    transition-delay: 3s;
}

.show{
    opacity: 1;
}

.title{
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    justify-content: center;
    align-self: center;
    height: 30px;
    margin: 20px;
}


.header-item-divider{
    background-color: #ffffff;
    border-style: solid;
    border-width: 0.1rem;
    border-color: rgb(7, 0, 0);
    border-radius: 1rem 40rem;
    width: 0.3rem;
}


