

body{
    background-color: rgb(4, 80, 61);
}

.card-text-extras{
    overflow-y: scroll;
}


.text-fade {
    
    height: 0.2em; /* exactly three lines */
    overflow:hidden;
  }
  
  .text-fade::after {
    content: ""; 
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80%;
    height: 1.2em;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 80%);
  }