html, body{
    height: 100%;
    margin: none;
    scroll-behavior: smooth;
}

body{
    background-image: url("images/museum.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.menu_bar{
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    position: sticky;
    width: 100%;
    height: auto;
    top: 0px;
}

.menu_bar>ul{
    padding: 0px;
    justify-content: start;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 0 2px rgb(12, 12, 12);
    background-color: rgb(153, 131, 69);
}

.menu_bar>ul>li{
    display: inline-flex;
    padding: 10px;
    justify-content: space-evenly;
    width: 150px;
    height: 100%;
}

.menu_bar>ul>li>a{
    
}
.menu_bar>ul>li:hover{
    background: rgb(191, 196, 193);
}

/* 
menu bar animation
.slide{
    position:absolute;
    width: 150px;
    height: 100px;
    top: 0;
    left: 0;
    background: white;
    z-index: -1;
    transition: 0.5s;
    opacity: 0;
}
*/

a:link{
    color: black;
    text-decoration: none;
}

a:hover{
    color: blue;
    text-decoration: underline;
}


.image{
    overflow: hidden;
}

 .image img{
    transition: transform .3s;
}

 .image:hover img{
    transform: scale(1.2);
}

.border{
    /*
    opacity: 0;
    transition: all 0.5s;
    */
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 50px;
    box-shadow: 5px 5px 10px;
    transition-delay: 3s;
}

.info{
    margin: 20px;
}
.show{
    opacity: 1;
}

.title{
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    justify-content: center;
    align-self: center;
    height: 30px;
    margin: 20px;
}
