<link rel="stylesheet" href="about_styles.css">
<script defer src="about_js.js"></script>

{{!-- <div class="container-fluid d-flex align-items-stretch p-0">
    <div class="row d-flex justify-content-center top p-0 w-100">
        <ul class="menu nav nav-pills header-bg py-1 px-2 col-12 column-gap-2 justify-content-center shadow-lg bg-light">
        <li class="nav-item "><a href="#history_id" class="nav-link link-dark shadow-sm" aria-current="page">History</a></li>
        <div class="header-item-divider py-3"></div>
        <li class="nav-item "><a href="#us_id" class="nav-link link-dark shadow-sm">Who We Are</a></li>
        <div class="header-item-divider py-2"></div>
        <li class="nav-item"><a href="#contact_id" class="nav-link link-dark shadow-sm">Contact</a></li>
        </ul>
    </div>
</div> --}}


<div class="album py-4">
    <span class="history_section" id="history_id">
        <div class="border">
            <div class="row title">HISTORY</div>
            <div class="row">
                <div class="col-lg-5 col-md-12 p-4">
                    <div class="image">
                        <img src="museum.jpg" alt="museum photo" height="100%" width="100%">
                    </div>
                </div>
                <div class="col-lg-7 col-md-12 p-4">
                    <div class="info">Historians have done very well at digging deep and probing complexities. We have also taken to big themes: the mutabilities of class, gender and ethnicity; the histories of nations and empires; the crises of what is very variously identified as 'Modernity' from the 12th to the 20th centuries. Yet, in recent decades we have taken our eyes off the very long term. We do not, with very few exceptions, write about the entire human story. And having written our time-and-place-specific histories, we generally do not indicate what light these studies throw on a diachronic or through-time perspective.Historians have done very well at digging deep and probing complexities. We have also taken to big themes: the mutabilities of class, gender and ethnicity; the histories of nations and empires; the crises of what is very variously identified as 'Modernity' from the 12th to the 20th centuries. Yet, in recent decades we have taken our eyes off the very long term. We do not, with very few exceptions, write about the entire human story. And having written our time-and-place-specific histories, we generally do not indicate what light these studies throw on a diachronic or through-time perspective.</div>
                </div>
            </div>
        </div>
    </span>
    <span class="us_section" id="us_id">
        <div class="border">
            <div class="row title">WHO WE ARE</div>
            <div class="row">
                <div class="col-lg-5 col-md-12 p-4">
                    <div class="image">
                        <img src="us_section.jpg" alt="friends photo" height="100%" width="100%">
                    </div>
                </div>
                <div class="col-lg-7 col-md-12 p-4">
                    <div class="info">Historians have done very well at digging deep and probing complexities. We have also taken to big themes: the mutabilities of class, gender and ethnicity; the histories of nations and empires; the crises of what is very variously identified as 'Modernity' from the 12th to the 20th centuries. Yet, in recent decades we have taken our eyes off the very long term. We do not, with very few exceptions, write about the entire human story. And having written our time-and-place-specific histories, we generally do not indicate what light these studies throw on a diachronic or through-time perspective.Historians have done very well at digging deep and probing complexities. We have also taken to big themes: the mutabilities of class, gender and ethnicity; the histories of nations and empires; the crises of what is very variously identified as 'Modernity' from the 12th to the 20th centuries. Yet, in recent decades we have taken our eyes off the very long term. We do not, with very few exceptions, write about the entire human story. And having written our time-and-place-specific histories, we generally do not indicate what light these studies throw on a diachronic or through-time perspective.</div>
                </div>
            </div>
        </div>
    </span>
    <span class="contact_section " id="contact_id">
        <div class="border">
            <div class="row title">CONTACT</div>
            <div class="row offset-3">Τηλεφωνο επικοινωνίας: 210111111</div>
            <div class="row offset-3">Διαθεσιμες ωρες γραμματείας: καθημερινα 9:00-21:00</div>
            <br>
        </div>
    </span>
</div>

