<link rel="stylesheet" href="announcements.css">
{{!-- <script defer src="about_js.js"></script> --}}

<span class="album">

    <div class="border">
        <div class="row title">announcement 1</div>
        <div class="row w-100">
            <div class="col-lg-3 col-md-3 d-flex justify-content-center p-4">
                <div class="image">
                    <img src="logo_circle.png" alt="Announcements photo" width="100%">
                </div>
            </div>
            <div class="col-lg-9 col-md-9 p-4">
                <div class="info">Historians have done very well at</div>
            </div>
        </div>
    </div>

    <div class="border">
        <div class="row title">announcement 2</div>
        <div class="row w-100">
            <div class="col-lg-3 col-md-3 d-flex justify-content-center p-4">
                <div class="image">
                    <img src="home_background.jpg" alt="Announcements photo" width="100%">
                </div>
            </div>
            <div class="col-lg-9 col-md-9 p-4">
                <div class="info">Historians have done very well at</div>
            </div>
        </div>
    </div>
    <div class="border">
        <div class="row title">announcement 3</div>
        <div class="row w-100">
            <div class="col-lg-3 col-md-3 d-flex justify-content-center p-4">
                <div class="image">
                    <img src="collection_background.jpg" alt="Announcements photo" width="100%">
                </div>
            </div>
            <div class="col-lg-9 col-md-9 p-4">
                <div class="info">Historians have done very well at</div>
            </div>
        </div>
    </div>
    <div class="border">
        <div class="row title">announcement 4</div>
        <div class="row w-100">
            <div class="col-lg-3 col-md-3 d-flex justify-content-center p-4">
                <div class="image">
                    <img src="about_background.jpg" alt="Announcements photo" width="100%">
                </div>
            </div>
            <div class="col-lg-9 col-md-9 p-4">
                <div class="info">Historians have done very well at</div>
            </div>
        </div>
    </div>
    
</span> 
