
    <div class="row justify-content-center top">
        <ul class="manu nav nav-pills header-bg py-1 px-2 col-12 column-gap-2 justify-content-center shadow-lg bg-light">
        <li class="nav-item"><a href="#exhibits_id" class="nav-link link-dark shadow-sm" aria-current="page">Exhibits</a></li>
        <div class="header-item-divider py-3"></div>
        <li class="nav-item "><a href="#ann_id" class="nav-link link-dark shadow-sm">Urgent News</a></li>
        <div class="header-item-divider py-2"></div>
        <li class="nav-item"><a href="#" class="nav-link link-dark shadow-sm">More stuff</a></li>
        </ul>
    </div>

    <span class="exhibits_section" id="exhibits_id">
        <div class="border">
            <div class="row title">Exhibits</div>
            <div class="row">
                <div class="col-lg-5 col-md-12 p-4">
                    <div class="image">
                        <img src="images/Zuck_sketch.jpg" alt="Zuckerberg photo" height="100%" width="100%">
                    </div>
                    <div class="row p-3"><a href="../collection/collection.html">See more <i class="bi bi-arrow-right"></i></a></div>
                </div>
                <div class="col-lg-7 col-md-12 p-4">
                    <div class="info">Historians have done very well at digging deep and probing complexities. We have also taken to big themes: the mutabilities of class, gender and ethnicity; the histories of nations and empires; the crises of what is very variously identified as 'Modernity' from the 12th to the 20th centuries. Yet, in recent decades we have taken our eyes off the very long term. We do not, with very few exceptions, write about the entire human story. And having written our time-and-place-specific histories, we generally do not indicate what light these studies throw on a diachronic or through-time perspective.Historians have done very well at digging deep and probing complexities. We have also taken to big themes: the mutabilities of class, gender and ethnicity; the histories of nations and empires; the crises of what is very variously identified as 'Modernity' from the 12th to the 20th centuries. Yet, in recent decades we have taken our eyes off the very long term. We do not, with very few exceptions, write about the entire human story. And having written our time-and-place-specific histories, we generally do not indicate what light these studies throw on a diachronic or through-time perspective.</div>
                </div>
            </div>
        </div>
    </span>

    <span class="announcements_section" id="ann_id">
        <div class="border">
            <div class="row title">Urgent announcements</div>
            <div class="row">
                <div class="col-lg-5 col-md-12 p-4">
                    <div class="image">
                        <img src="images/announcements.jpg" alt="Announcements photo" height="100%" width="100%">
                    </div>
                    <div class="row p-3"><a href="#">See more <i class="bi bi-arrow-right"></i></a></div>
                </div>
                <div class="col-lg-7 col-md-12 p-4">
                    <div class="info">Historians have done very well at digging deep and probing complexities. We have also taken to big themes: the mutabilities of class, gender and ethnicity; the histories of nations and empires; the crises of what is very variously identified as 'Modernity' from the 12th to the 20th centuries. Yet, in recent decades we have taken our eyes off the very long term. We do not, with very few exceptions, write about the entire human story. And having written our time-and-place-specific histories, we generally do not indicate what light these studies throw on a diachronic or through-time perspective.Historians have done very well at digging deep and probing complexities. We have also taken to big themes: the mutabilities of class, gender and ethnicity; the histories of nations and empires; the crises of what is very variously identified as 'Modernity' from the 12th to the 20th centuries. Yet, in recent decades we have taken our eyes off the very long term. We do not, with very few exceptions, write about the entire human story. And having written our time-and-place-specific histories, we generally do not indicate what light these studies throw on a diachronic or through-time perspective.</div>
                </div>
            </div>
        </div>
    </span>
