<link rel="stylesheet" href="home_styles.css">
<script src="home_js.js" defer></script>


    
<span class="exhibits_section" id="exhibits_id">
    <div class="border">
        <div class="img-slider">
            <div class="slide active">
            <img src="logo_circle.png" alt="">
            <div class="info">
                <h2>Room 01</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            </div>
            <div class="slide">
            <img src="logo_circle.png" alt="" height="100%" width="100%">
            <div class="info">
                <h2>Room 02</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            </div>
            <div class="slide">
            <img src="logo_circle.png" alt="">
            <div class="info">
                <h2>Room 03</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            </div>
            <div class="slide">
            <img src="logo_circle.png" alt="">
            <div class="info">
                <h2>Room 04</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            </div>
            <div class="slide">
            <img src="logo_circle.png" alt="">
            <div class="info">
                <h2>Room 05</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            </div>
            <div class="navigation">
            <div class="btn active"></div>
            <div class="btn"></div>
            <div class="btn"></div>
            <div class="btn"></div>
            <div class="btn"></div>
            </div>
        </div>
    </div>
</span>
<span class="announcements_section" id="ann_id">
    <div class="border">
        <div class="row title">Urgent announcements</div>
        <div class="row">
            <div class="col-lg-5 col-md-12 p-4">
                <div class="image">
                    <img src="logo_circle.png" alt="Announcements photo" height="100%" width="100%">
                </div>
                <div class="row p-3"><a href="/announcements">See more <i class="bi bi-arrow-right"></i></a></div>
            </div>
            <div class="col-lg-7 col-md-12 p-4">
                <div class="info">Historians have done very well at digging deep and probing complexities. We have also taken to big themes: the mutabilities of class, gender and ethnicity; the histories of nations and empires; the crises of what is very variously identified as 'Modernity' from the 12th to the 20th centuries. Yet, in recent decades we have taken our eyes off the very long term. We do not, with very few exceptions, write about the entire human story. And having written our time-and-place-specific histories, we generally do not indicate what light these studies throw on a diachronic or through-time perspective.Historians have done very well at digging deep and probing complexities. We have also taken to big themes: the mutabilities of class, gender and ethnicity; the histories of nations and empires; the crises of what is very variously identified as 'Modernity' from the 12th to the 20th centuries. Yet, in recent decades we have taken our eyes off the very long term. We do not, with very few exceptions, write about the entire human story. And having written our time-and-place-specific histories, we generally do not indicate what light these studies throw on a diachronic or through-time perspective.</div>
            </div>
        </div>
    </div>
</span> 