<link rel="stylesheet" href="upload.css">
    <h1> Upload Image</h1>
    <form method = "post" action = "/upload_art" enctype="multipart/form-data">
        <label for="artist">Artist:</label>
        <select type="radio" id = 'artist' name="artist">
        {{#each artists}}
        <option value = {{id}}>{{first_name}} {{last_name}}</option>
        {{/each}}
        </select>
        <label for="artwork-name">Artwork Name:</label>
        <input type="text" id="artwork-name" name="artwork-name">

        <label for="year">Creation Date:</label>
        <input type="date" id="year" name="year">

        <label for="genre">Genre:</label>
        <input type="text" id="genre" name="genre">

        <label for="summary">Short Summary:</label>
        <textarea id="summary" name="summary"></textarea>
        <input type = 'file' accept = 'image/*' name = 'imageName'>
        <input type = 'submit'>
    </form>
    
{{!-- For Showing Available Artists. also, link to add artist.
<form>
  <label for="fruit">Choose a fruit:</label>
  <select id="fruit" name="fruit">
    <option value="apple">Apple</option>
    <option value="orange">Orange</option>
    <option value="porridge">Porridge</option>
  </select>
  <input type="submit" value="Submit">
</form> --}}