<link rel="stylesheet" href="upload.css">
    <h1> Add Exhibition Room</h1>
    <form method = "post" action = "/upload_room" enctype="multipart/form-data">
        
        <label for="room-num">Room Number:</label>
        <input type="number" id="room-num" name="roomNum">

        <label for="genre">Genre/Style:</label>
        <input type="text" id="genre" name="genre">
        
        <label for="room-description">Description:</label>
        <textarea id="room-description" name="roomDescription"></textarea>
        
        <label for='file'>Room photos:</label>
        <input type='file' accept='image/*' name='roomImage' id='file' required>
        {{!-- <p class='hint'>Supported files: jpg, jpeg, png.</p> --}}

        <input type = 'submit'>
    </form>