
.album{
    background-image: url("announcements_background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.admin-container .btn{
    background: rgba(255, 255, 255, 0.9);
    color: #000000;
    border:2px solid rgb(252,116,68);
}

.admin-container .btn:hover{
    background-color: rgb(148,188,236);
    cursor: pointer;
}

a:link{
    color: black;
    text-decoration: none;
}

a:hover{
    color: blue;
    text-decoration: underline;
}


.image{
    overflow: hidden;
}

 .image img{
    transition: transform .3s;
}

 .image:hover img{
    transform: scale(1.2);
}

.border{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 5px 5px 10px rgba(252,116,68);
    transition-delay: 3s;

}

.info{
    margin: 20px;
}
.show{
    opacity: 1;
}

.title{
    width: 100%;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    justify-content: center;
    align-self: center;
    height: 30px;
    margin: 20px;
}
/* edit delete button */
.border .edit{
    position: relative;
    right:0rem;
    cursor: pointer;
    font-size: 0.5rem;
    border-radius: 5px;
    z-index: 10;
  }
  
  .border .edit:hover{
    background-color: rgb(231, 150, 56);
  }
  
  .border .delete{
    position: relative;
    left:0rem;
    cursor: pointer;
    font-size: 0.5rem;
    border-radius: 5px;
    background-color: rgb(216, 118, 118);
    z-index: 10;
  }
  
  .border .delete:hover{
    background-color: red;
  }
  
/* modal */

.modal {
    display: none; 
    position: fixed; 
    z-index: 99; 
    width: 100%; 
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    align-items: center;
    justify-content: center;
  }
  
  .modal .container{
    position: absolute;
    background-color: #fefefe;
    text-align: center;
    width: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
  }
  
  .close-modal{
    font-weight: bold;
    color: #7a7a7a;
    position: relative;
    float: right;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
  }
  
  .close-modal:hover,
  .close-modal:focus {
  color: #363434;
  cursor: pointer;
  }
  
  .modal .deletebtn {
    background-color: rgb(216, 118, 118);
    border-radius: 5px;
  }
  
  .modal .cancelbtn {
    border-radius: 5px;
  }
  
  .modal .deletebtn:hover {
    background-color: red;
  }
  