
.album{
    background-image: url("collection_background.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.admin-container .btn{
    background: rgba(236, 235, 235, 0.9);
    color: #000000;
    border:2px solid rgb(252,116,68);
}

.admin-container .btn:hover{
    background-color: rgb(252, 228, 188);
    cursor: pointer;
}

/* card element */

.card-img-top:hover{
    cursor: pointer;
}

.text-truncate-container p{
    
    height: 4.6em;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;

}

.card{
    background: rgba(236, 235, 235, 0.9);
    border:2px solid rgb(252,116,68);
}

.text-truncate-container-focused {
    height: 4.6em;
    -webkit-box-orient: vertical;
    overflow-y:scroll;
    scroll-behavior: smooth;
    width: none;
    scrollbar-width: none;    
}

.text-truncate-container-focused::-webkit-scrollbar {
    display: none;
}


.focused-content{
    z-index: 1;
    justify-content: center;
    background-image: linear-gradient(to top left, rgb(255,188,156), rgb(255, 255, 255));
}

.card .edit{
    position: absolute;
    top:0rem; right:0rem;
    cursor: pointer;
    font-size: 0.5rem;
    border-radius: 5px;
 }

.card .delete{
    position: absolute;
    top:0rem; left:0rem;
    cursor: pointer;
    font-size: 0.5rem;
    border-radius: 5px;
    background-color: rgb(216, 118, 118);
 }

.card .edit:hover{
    background-color: rgb(187, 187, 185);
 }

.card .delete:hover{
   background-color: red;
}

.card .hide{
    display: none;
}

.card-content .card-img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

.card-content  .card-img-top{
    max-height: 200px;
    max-width: fit-content;
}

.card-content .card{
    font-size: small;
}

.info .author, .card-title{
    font-size: medium;
}
a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: blue;
    text-decoration: underline;
}

/* card preview */

.preview-container{
    display: none;
    position: fixed;
    background: rgba(0,0,0,.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    align-items: center;
    justify-content: center;
}
 
.card-preview{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-preview .card-img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
}

.card-preview  .card-img-top{
    max-height: 60vh;
    max-width: fit-content;
}

.active{
   display: inline-block;
}

.card-preview .close{
    position: absolute;
    top:0rem; right:0rem;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
 }

 .card-preview .close:hover{
    background-color: rgb(212, 171, 151);
 }


/* search bar */

.search-box{
    font-size: 30px;
    text-align: center;
}

.search-box ::placeholder{
    color: #000000;
}
  
.search-box #search-box{
    width: 400px;
    border:2px solid rgb(252,116,68);
    padding:12px 15px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 100px;
    margin: auto;
    background-color: rgb(236, 235, 235);
}
  
.select-menu{
    width: fit-content;
}

.select-menu .select-btn{
    display: flex;
    height: 55px;
    background:rgb(236, 235, 235);
    padding: 10px;
    font-size: 15px;
    border-radius:200px;
    align-items: center;
    cursor: pointer;
    border:2px solid rgb(252,116,68);
    font-weight: bold;
    color:#000000
}
.select-btn i{
    font-size: 18px;
    transition: 0.3s;
}
.select-menu .active .select-btn i{
    transform: rotate(-180deg);
}
.select-menu .options{
    position: relative;
    padding: 20px;
    margin-top: 10px;
    border-radius: 8px;
    background: rgb(236, 235, 235);
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    display: none;
    width: fit-content;
}
.select-menu.active .options{
    display: block;
    position: absolute; 
    z-index: 2;
}

.options .option{
    display: flex;
    height: 55px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
    background: rgb(236, 235, 235);

}
.options .option:hover{
    background: rgb(212, 171, 151);
}
.option i{
    font-size: 18px;
    margin-right: 12px;
}
.option .option-text{
    font-size: 18px;
    color: #2e2c2c;
}

/* pagination */

.pagination{
    text-align: center;
    user-select: none;
}

.pagination li{
    display: inline-block;
    margin: 5px;
    border-radius: 35px;
}

.pagination li a{
    color: #080808;
    font-size: 1.0em;
    border-radius: 35px;
    line-height: 35px;
    background-color: rgba(236, 235, 235, 0.6);
    border:2px solid rgb(252,116,68);
    font-weight: bold;
}

.previous-page, .next-page{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    cursor: pointer;  
}

.current-page, .dots{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    cursor: pointer;
}
.pagination .page-link{
    display: flex;
    align-items: center;
    justify-content: center;
} 

.on{
    background: #dad6ba;
}

/* modal */

.modal {
    display: none; 
    position: fixed; 
    z-index: 99; 
    width: 100%; 
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    align-items: center;
    justify-content: center;
  }
  
.modal .container{
  position: absolute;
  background-color: #fefefe;
  text-align: center;
  width: fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.close-modal{
    font-weight: bold;
    color: #7a7a7a;
    position: relative;
    float: right;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
}

.close-modal:hover,
.close-modal:focus {
  color: #363434;
  cursor: pointer;
}

.modal .deletebtn {
    background-color: rgb(216, 118, 118);
    border-radius: 5px;
}

.modal .cancelbtn {
    border-radius: 5px;
}

.modal .deletebtn:hover {
    background-color: red;
}
