
.album{
  background-image: url("home_background.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

a:link{
  color: black;
  text-decoration: none;
}

a:hover{
  color: blue;
  text-decoration: underline;
}

/* 
.image{
  overflow: hidden;
}

.image img{
  transition: transform .3s;
}

.image:hover img{
  transform: scale(1.2);
} */

.border{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  margin-top: 40px;
  margin-bottom: 40px;
  box-shadow: 5px 5px 10px;
  transition-delay: 3s;
}

.info{
  margin: 20px;
}
.show{
  opacity: 1;
}

.title{
  width: 100%;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  justify-content: center;
  align-self: center;
  height: 30px;
  margin: 20px;
}


/* slider */
.img-slider{
  position:relative;
  width: 60%;
  height: 500px;
  margin: 10px;
  background: #1D212B;
}

.img-slider .slide{
  z-index: 1;
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.img-slider .slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}

.img-slider .slide img{
  z-index: 1;
  width: 100%;
  height: 500px;
}

.img-slider .slide .info{
  position: absolute;
  top: 0;
  padding: 15px 30px;
}

.img-slider .slide .info h2{
  color: #000000;
  display: flex;
  justify-content: center;
  font-size: 45px;
  width: 250px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  background-color: rgba(255, 255, 255, 0.7);
}

.img-slider .slide .info p{
  color: #000000;
  background: rgba(0, 0, 0, 0.1);
  font-size: 16px;
  width: 60%;
  padding: 10px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.7);
}

.img-slider .navigation{
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.img-slider .navigation .btn{
  background: rgb(255, 255, 255);
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 90%;
  cursor: pointer;
  border: 2px solid rgb(0, 0, 0);
}

.img-slider .navigation .btn.active{
  background: rgb(22, 178, 184);
  border: 2px solid rgb(0, 0, 0);
}

/* announcements section */

.ann-border .container-info{
  max-height: 300px;
}

.ann-border .image-container{
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 300px;
}

.ann-border .image{
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 300px;
}
.ann-border .card-img-top{
  max-height: 200px;
  max-width: fit-content;
}

.ann-border .info{
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}



