form {
    border: 2px solid black;
    padding: 20px;
    width: 500px;
    margin: 0 auto;
  }

  label {
    display: block;
    margin-bottom: 10px;
  }

  input[type="text"],input[type='date'], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: inset 0px -1px 0px rgba(0,0,0,0.25);
  }

  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }

