html, body{
    height: 100%;
    margin: none;
    scroll-behavior: smooth;
}

body{
    background-image: url("images/museum.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.menu_bar{
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    position: sticky;
    width: 100%;
    height: auto;
    top: 0px;
}

.menu_bar>ul{
    padding: 0px;
    justify-content: start;
}

.menu_bar>ul>li{
    display: inline-flex;
    justify-content: space-evenly;
    width: 150px;
    margin: 20px;
    padding: 10px;
    border-radius:10px;
    background-color: rgba(90, 216, 111, 0.4);
}

.menu_bar>ul>li:hover{
    background: rgb(35, 158, 66);
    border-radius: 20px;
}

a:link{
    color: black;
    text-decoration: none;
}

a:hover{
    color: blue;
    text-decoration: underline;
}


.image{
    overflow: hidden;
}

 .image img{
    transition: transform .3s;
}

 .image:hover img{
    transform: scale(1.2);
}

.border{
    /*
    opacity: 0;
    transition: all 0.5s;
    */
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    margin: 50px;
    box-shadow: 5px 5px 10px;
    transition-delay: 3s;
}

.show{
    opacity: 1;
}

.title{
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    justify-content: center;
    align-self: center;
    height: 30px;
    margin: 20px;
}
