

div.album{
    background-image: linear-gradient(to top left, rgb(26, 15, 0), rgb(150, 131, 102));
}

.card-text-extras{
    overflow-y: scroll;
}


.text-truncate-container {
    width: 90%;
}
.text-truncate-container p{
    height: 4.6em;
    -webkit-line-clamp: 3;
    
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.text-truncate-container-focused {
    height: 4.6em;
    -webkit-box-orient: vertical;
    overflow-y:scroll;
    scroll-behavior: smooth;
    width: 90%;
}

.focused-content{
    z-index: 6;
    justify-content: center;
    background-image: linear-gradient(to bottom right, bisque , rgb(202, 133, 54));
}
/*
 //hover now works through Js because 
this type of solution has text-truncate-container webkit-box
visual bug.("..." after text on hover).


.card-body>p:hover{
    overflow-y: scroll;
    scroll-behavior: smooth;
    -webkit-line-clamp: none;
    
}

.card:hover{
    background-image: linear-gradient(to bottom right, bisque , rgb(202, 141, 67));
    text-shadow: 0.5px 1px 1px #585858;
    
    
} 

*/