

div.album{
    background-image: linear-gradient(to top left, rgb(26, 15, 0), rgb(150, 131, 102));
    
}

.card-text-extras{
    overflow-y: scroll;
}




.text-truncate-container {
    width: 90%;
}
.text-truncate-container p{
    height: 4.6em;
    -webkit-line-clamp: 3;
    
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;

}

.text-truncate-container-focused {
    height: 4.6em;
    -webkit-box-orient: vertical;
    overflow-y:scroll;
    scroll-behavior: smooth;
    width: 90%;
    padding: 0.5em;
    
}

.focused-content{
    z-index: 1;
    justify-content: center;
    background-image: linear-gradient(to bottom right, bisque , rgb(202, 133, 54));
}

/* search bar */

.search-box{
    font-size: 30px;
    text-align: center;
}

.search-box ::placeholder{
    color: #fff;
}
  
.search-box #search-box{
    width: 400px;
    border:1px solid rgb(255, 255, 255);
    padding:12px 15px;
    font-size: 20px;
    border-radius: 100px;
    margin: auto;
    background-color: rgb(138, 102, 62);
}
  
.select-menu{
    width: fit-content;
}

.select-menu .select-btn{
    display: flex;
    height: 55px;
    background:rgb(138, 102, 62);
    padding: 10px;
    font-size: 18px;
    border-radius:200px;
    align-items: center;
    cursor: pointer;
    border:1px solid rgb(255, 255, 255);
    color:#fff
}
.select-btn i{
    font-size: 25px;
    transition: 0.3s;
}
.select-menu .active .select-btn i{
    transform: rotate(-180deg);
}
.select-menu .options{
    position: relative;
    padding: 20px;
    margin-top: 10px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    display: none;
    width: fit-content;
}
.select-menu.active .options{
    display: block;
    position: absolute; 
    z-index: 2;
}

.options .option{
    display: flex;
    height: 55px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
    background: #fff;

}
.options .option:hover{
    background: #F2F2F2;
}
.option i{
    font-size: 25px;
    margin-right: 12px;
}
.option .option-text{
    font-size: 18px;
    color: #333;
}

/* pagination */

.pagination{
    text-align: center;
    user-select: none;
}

.pagination li{
    display: inline-block;
    margin: 5px;
    border-radius: 35px;
}

.pagination li a{
    color: #ffffff;
    font-size: 1.0em;
    border-radius: 35px;
    line-height: 35px;
    background-color: rgba(138, 102, 62, 0.6)
}

.previous-page, .next-page{
    width: 80px;
    cursor: pointer;  
}

.current-page, .dots{
    width: 45px;
    cursor: pointer;
}

.on{
    background: #af9f11;
}


/* card preview */

.preview-container{
    display: none;
    position: fixed;
    background: rgba(0,0,0,.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    align-items: center;
   justify-content: center;
}
 
.card-preview{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.active{
   display: inline-block;
}

.card-preview img{
   height: 30rem;
}

.card-preview .close{
    position: absolute;
    top:0rem; right:0rem;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 5px;
 }

 .card-preview .close:hover{
    background-color: rgb(231, 150, 56);
 }
 
/*
 //hover now works through Js because 
this type of solution has text-truncate-container webkit-box
visual bug.("..." after text on hover).


.card-body>p:hover{
    overflow-y: scroll;
    scroll-behavior: smooth;
    -webkit-line-clamp: none;
    
}

.card:hover{
    background-image: linear-gradient(to bottom right, bisque , rgb(202, 141, 67));
    text-shadow: 0.5px 1px 1px #585858;
    
    
} 

*/