

div.album{
    background-image: linear-gradient(to top left, rgb(26, 15, 0), rgb(150, 131, 102));
    
}

.card-img-top:hover{
    cursor: pointer;
}

.text-truncate-container p{
    
    height: 4.6em;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;

}

.text-truncate-container-focused {
    height: 4.6em;
    -webkit-box-orient: vertical;
    overflow-y:scroll;
    scroll-behavior: smooth;
    width: none;
    scrollbar-width: none;    
}

.text-truncate-container-focused::-webkit-scrollbar {
    display: none;
}


.focused-content{
    z-index: 1;
    justify-content: center;
    background-image: linear-gradient(to bottom right, bisque , rgb(202, 133, 54));
}

.card .edit{
    position: absolute;
    top:0rem; right:0rem;
    cursor: pointer;
    font-size: 1.0rem;
    border-radius: 5px;
 }

 .card .edit:hover{
    background-color: rgb(231, 150, 56);
 }

.card .hide{
    display: none;
}

.card-content .card-img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

.card-content .card  .card-img-top{
    max-height: 200px;
    max-width: fit-content;
}

.card{
    font-size: small;
}

.info .author, .card-title{
    font-size: medium;
}
a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: blue;
    text-decoration: underline;
}

/* card preview */

.preview-container{
    display: none;
    position: fixed;
    background: rgba(0,0,0,.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    align-items: center;
    justify-content: center;
}
 
.card-preview{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 10px;
    /* height: 50%; */
}

.card-preview .card-img-container{
    display: flex;
    /* max-height: 80%; */
}

/* .card-preview .card-img-top{
    height: 100px;
} */

.active{
   display: inline-block;
}

.card-preview .close{
    position: absolute;
    top:0rem; right:0rem;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 5px;
 }

 .card-preview .close:hover{
    background-color: rgb(231, 150, 56);
 }

/* search bar */

.search-box{
    font-size: 30px;
    text-align: center;
}

.search-box ::placeholder{
    color: #fff;
}
  
.search-box #search-box{
    width: 400px;
    border:1px solid rgb(255, 255, 255);
    padding:12px 15px;
    font-size: 20px;
    border-radius: 100px;
    margin: auto;
    background-color: rgb(138, 102, 62);
}
  
.select-menu{
    width: fit-content;
}

.select-menu .select-btn{
    display: flex;
    height: 55px;
    background:rgb(138, 102, 62);
    padding: 10px;
    font-size: 18px;
    border-radius:200px;
    align-items: center;
    cursor: pointer;
    border:1px solid rgb(255, 255, 255);
    color:#fff
}
.select-btn i{
    font-size: 25px;
    transition: 0.3s;
}
.select-menu .active .select-btn i{
    transform: rotate(-180deg);
}
.select-menu .options{
    position: relative;
    padding: 20px;
    margin-top: 10px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    display: none;
    width: fit-content;
}
.select-menu.active .options{
    display: block;
    position: absolute; 
    z-index: 2;
}

.options .option{
    display: flex;
    height: 55px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
    background: #fff;

}
.options .option:hover{
    background: #F2F2F2;
}
.option i{
    font-size: 25px;
    margin-right: 12px;
}
.option .option-text{
    font-size: 18px;
    color: #333;
}

/* pagination */

.pagination{
    text-align: center;
    user-select: none;
}

.pagination li{
    display: inline-block;
    margin: 5px;
    border-radius: 35px;
}

.pagination li a{
    color: #ffffff;
    font-size: 1.0em;
    border-radius: 35px;
    line-height: 35px;
    background-color: rgba(138, 102, 62, 0.6)
}

.previous-page, .next-page{
    width: 80px;
    cursor: pointer;  
}

.current-page, .dots{
    width: 45px;
    cursor: pointer;
}

.on{
    background: #af9f11;
}

